{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>My Cart</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- My Cart Items -->
{% if not items: %}
There's no item in your cart.
{% else %}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

<!--                <form action="" method="post">-->
                <div class="col-lg-8 col-md-10 mx-auto comment">
                    <table border="1" color="orange" width="600">
                    <tr>
                      <td width="40" align="center"></td>
                      <td width="200" align="center">Item</td>
                      <td width="100" align="center">Count</td>
                      <td width="100" align="center">Price</td>
                      <td width="100" align="center">Total</td>
                    </tr>
                    {% for item in items: %}
                      <tr>
                        <td align="center"><input type="checkbox" name="ckbox" value="{{ item.id }}"></td>
                        <td align="center">{{item.cart_item.item_name}}<br><img src="{{ item.cart_item.img_url }}" width="100", height="100"  /></td>
                        <td align="center">{{item.count}}</td>
                        <td align="center">${{item.price}}</td>
                        <td align="center">${{ '%.2f'%(item.count * item.price) }}</td>
                      </tr>
                    {% endfor %}
                    </table>

                </div>
                <div class="col-lg-8 col-md-10 mx-auto comment">
<!--                  <button type="submit">Order</button>-->
                  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
<!--                </form>-->
            </div>
        </div>

    </div>
</article>

{% endif %}
  <hr>

{% include "footer.html" %}
{% endblock %}