{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Payment Failed</h1>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>Something went wrong, please try again or contact to developer.</p>
          <p>Sarah's Shop prototype of an online shop for all kinds of and this payment method is just for testing purpose. </p>
          <p>
            <a class="btn btn-primary" href="{{ url_for('get_all_item') }}" role="button">Return to Home</a>
          </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}



